.sso {
    $border-color: #E5E5E5;
    border: 1px solid $border-color;
}

.ssoButton {
    border: 1px solid #191919; 
    border-radius: 5px;
    color: #191919;
    cursor: pointer;
    padding: 8px;
}
